*{
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  margin:0;
  height:100vh;
  background:#020617;
  overflow:hidden;
  color:white;
}

/* animated gradient bg */
.bg{
  position:fixed;
  inset:0;
  background:linear-gradient(120deg,#7c3aed,#06b6d4,#22c55e);
  filter:blur(120px);
  animation:move 10s infinite alternate;
}

@keyframes move{
  0%{transform:translate(-20%,-20%)}
  100%{transform:translate(20%,20%)}
}

/* panel */
.panel{
  position:relative;
  max-width:420px;
  margin:40px auto;
  padding:20px;
  background:rgba(255,255,255,0.08);
  border-radius:20px;
  backdrop-filter:blur(20px);
  box-shadow:0 30px 60px rgba(0,0,0,.6);
}

h1{
  text-align:center;
  margin-bottom:20px;
}

/* 3D cards */
.card{
  background:rgba(0,0,0,.4);
  padding:15px;
  border-radius:16px;
  box-shadow:
    inset 0 0 20px rgba(255,255,255,.05),
    0 20px 40px rgba(0,0,0,.5);
  margin-bottom:20px;
}

input{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border:none;
  border-radius:10px;
  background:#020617;
  color:white;
  outline:none;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#22c55e,#06b6d4);
  color:#000;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 10px 25px rgba(0,0,0,.5);
  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
}

.list .item{
  padding:10px;
  margin-top:8px;
  border-radius:10px;
  background:rgba(255,255,255,.05);
}
