body{
  margin:0;
  font-family:sans-serif;
  background:linear-gradient(135deg,#020617,#020024);
  color:white;
}

.title{
  text-align:center;
  padding:15px;
}

.card{
  margin:15px;
  padding:20px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  box-shadow:0 20px 40px rgba(0,0,0,.6);
}

input{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border-radius:12px;
  border:none;
  outline:none;
  background:#020617;
  color:white;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  font-size:16px;
  background:linear-gradient(90deg,#22c55e,#06b6d4);
  color:black;
  font-weight:bold;
}

.list{
  margin:15px;
}

.video{
  padding:15px;
  margin-bottom:10px;
  border-radius:14px;
  background:rgba(255,255,255,0.08);
  box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.video button{
  margin-top:10px;
  background:#ef4444;
  color:white;
}
